# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


yet not implimented
5. Community Features: Allow users to share their experiences and ideas through forums 
and posts.
6. Admin Dashboard: Manage content, tools, and community features.

how many work i done previus
1]home page completed
2]learn more is completed

on which part i am working
1]login with auth0
2]signup with auth0
