# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

project created 
tailwind css is integrated

1] create a home page 
2] work on 
   Sustainability Tips: 
   Practical advice on reducing waste, saving energy, and eco-friendly
